<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionString>
		<add name ="DBProducts" connectionString="Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=\&quot;D:\\3 курс\\works\\Work2\\Work2\\DatabaseProducts.mdf\&quot;;Integrated Security=True"/>
	</connectionString>
</configuration>